html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .cus-picker-input{
	height: 27px;
	font-size: 12px;
}

.cus-picker {
	position: absolute;
	background: #fff;
	top: -40px;
	opacity: 0;
	right: -50%;
	z-index: -4;
	border-radius: 15px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
	transition: all .3s ease-in-out;
	padding: 10px 15px
}

.cus-picker .pointer {
	position: absolute;
	height: 40px;
	left: -26px;
	width: unset;
	bottom: 5px;
	color: #fff
}

.cus-picker .pointer path {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .15)
}

.cus-picker .head {
	margin-bottom: 10px
}

.cus-picker .head .h5,
.cus-picker .head h5 {
	font-family: ProximaNovaSemiBold
}

.cus-picker .head svg {
	width: 16px;
	height: 16px;
	color: #999;
	transition: all .2s ease-in-out;
	cursor: pointer
}

.cus-picker .head svg:hover {
	color: #333;
	transform: scale(1.1)
}

.cus-picker .timer .body {
	text-align: center
}

.cus-picker .timer .form-square {
	width: 60px;
	height: 50px;
	padding: 0;
	font-size: 34px;
	text-align: center;
	-webkit-appearance: none
}

.cus-picker .timer .form-square::-webkit-input-placeholder {
	font-size: 34px
}

.cus-picker .timer .is-invalid {
	border: 1px solid red !important
}

.cus-picker .timer .grade-slc .checkbox {
	float: unset
}

.cus-picker .timer .grade-slc .checkbox .checkbox-tile {
	width: 36px;
	border-radius: 5px;
	height: 24px
}

.cus-picker .timer .grade-slc .checkbox .checkbox-tile .checkbox-label {
	line-height: 13px
}

.cus-picker.show {
	right: -57%;
	z-index: 3;
	opacity: 1
}

.picker-down .cus-picker {
	left: 15px !important;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	right: unset !important;
	top: unset !important;
	bottom: -125px
}

.picker-down .cus-picker .pointer {
	top: -25px;
	transform: rotate(91deg);
	right: unset;
	left: 5px
}

.picker-down .cus-picker.show {
	top: unset !important;
	bottom: -125px;
	z-index: 9 !important
}

.picker-down.picker-end .cus-picker {
	right: 15px !important;
	left: unset !important;
	top: unset !important;
	bottom: -125px
}

.picker-down.picker-end .cus-picker .pointer {
	top: -25px;
	transform: rotate(91deg);
	right: 10px;
	left: unset
}

.picker-down.picker-end .cus-picker.show {
	top: unset !important;
	bottom: -125px
} */

.cus-picker .pointer {
	position: absolute;
	height: 40px;
	left: -26px;
	width: unset;
	bottom: 5px;
	color: #fff
}

.cus-picker {
    position: absolute;
    background: #fff;
    top: -40px;
    opacity: 0;
    right: -50%;
    z-index: -4;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 15px
}

.cus-picker .pointer path {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .15)
}

.cus-picker .head {
	margin-bottom: 10px
}

.cus-picker .head .h5,
.cus-picker .head h5 {
	font-weight: 600;
}

.cus-picker .head svg {
	width: 16px;
	height: 16px;
	color: #999;
	transition: all .2s ease-in-out;
	cursor: pointer
}

.cus-picker .head svg:hover {
	color: #333;
	transform: scale(1.1)
}

.cus-picker .timer .body {
	text-align: center
}

.cus-picker .timer .form-square {
	width: 60px;
	height: 50px;
	padding: 0;
	font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    border-color: var(--gray-shade) !important;
    color: black;
	text-align: center;
	-webkit-appearance: none
}

.cus-picker .timer .form-square::-webkit-input-placeholder {
	font-size: 34px
}

.cus-picker .timer .is-invalid {
	border: 1px solid red !important
}
.cus-picker .timer .is-invalid{
    background-image: unset !important;
}
.cus-picker .timer .grade-slc .checkbox {
	float: unset
}

.cus-picker .timer .grade-slc .checkbox .checkbox-tile {
	width: 36px;
	border-radius: 5px;
	height: 24px
}

.cus-picker .timer .grade-slc .checkbox .checkbox-tile .checkbox-label {
	line-height: 13px
}

.cus-picker.show {
	right: -57%;
	z-index: 3;
	opacity: 1
}

.picker-down .cus-picker {
	left: unset !important;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	right: 0 !important;
	top: unset !important;
	bottom: -125px
}

.picker-down .cus-picker .pointer {
	top: -25px;
	transform: rotate(91deg);
    left: unset;
	right: 5px
}

.picker-down .cus-picker.show {
	top: unset !important;
	bottom: -135px;
	z-index: 9 !important
}

.picker-down.picker-end .cus-picker {
	right: 15px !important;
	left: unset !important;
	top: unset !important;
	bottom: -125px
}

.picker-down.picker-end .cus-picker .pointer {
	top: -25px;
	transform: rotate(91deg);
	right: 10px;
	left: unset
}

.picker-down.picker-end .cus-picker.show {
	top: unset !important;
	bottom: -140px
}
.checkbox-group {
  margin-bottom: 40px;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-group .checkbox-wrapper {
  margin-bottom: 0;
}
.checkbox-group .checkbox {
  margin: 0 10px;
}
.checkbox-group .checkbox-group-legend {
  font-size: 1.5rem;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}
.checkbox-group .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox-group input[type=radio]:checked:checked + .checkbox-tile {
  border-color: var(--main-color);
  background: var(--main-color);
  color: var(--main-color);
}
.checkbox-group input[type=radio]:checked:checked + .checkbox-tile img {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
.checkbox-group input[type=radio]:checked:checked + .checkbox-tile .checkbox-icon, .checkbox-group input[type=radio]:checked:checked + .checkbox-tile .checkbox-label {
  color: black;
}
.checkbox-group input[type=radio]:checked:focus + .checkbox-tile {
  border-color: var(--main-color);
}
.checkbox-group .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-height: 130px;
  border-radius: 10px;
  border: 1px solid #F0F0F0;
  background-color: #fff;
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-group .checkbox-tile img {
  width: 60px;
  margin: 15px auto;
  filter: contrast(0.85);
}
.checkbox-group .checkbox-tile .checkbox-label {
  position: absolute;
  bottom: -30px;
}
.checkbox-group .checkbox-tile .checkbox-label {
  font-weight: 500;
  font-size: 14px;
  color: #999999;
  transition: 0.375s ease;
  text-align: center;
}
.checkbox-group .checkbox-tile:hover {
  border-color: var(--main-color);
}

.check-big .checkbox-tile {
  width: 150px;
  min-height: 110px;
  font-size: 14px;
}
.check-big .checkbox-tile img {
  width: auto;
  height: 80px;
}

.grade-slc {
  display: inline-block;
}
.grade-slc .checkbox {
  float: left;
  margin: 5px;
}
.grade-slc .checkbox .checkbox-wrapper {
  padding-left: 0;
}
.grade-slc .checkbox .checkbox-tile {
  width: 30px;
  height: 30px;
  border: 1px solid #333333;
  min-height: unset;
}
.grade-slc .checkbox .checkbox-tile .checkbox-label {
  position: relative;
  bottom: unset;
  color: #333333;
  line-height: 0.8;
}
.grade-slc input[type=radio]:checked:checked + .checkbox-tile .checkbox-icon, .grade-slc input[type=radio]:checked:checked + .checkbox-tile .checkbox-label {
  color: white;
}
.grade-slc .img-checkbox .checkbox-tile {
  border: 0;
  border-radius: 100px;
}
.grade-slc .img-checkbox .checkbox-tile img {
  -webkit-filter: unset !important;
  margin: 0;
  opacity: 0.5;
  transition: 0.3s all ease-in-out;
}
.grade-slc .img-checkbox input[type=radio]:checked:checked + .checkbox-tile {
  background: transparent !important;
  border: 0 !important;
  color: 0 !important;
}
.grade-slc .img-checkbox input[type=radio]:checked:checked + .checkbox-tile img {
  opacity: 1;
}

/* @keyframes modalFade {
	from {transform: translateY(-100%);opacity: 0;}
	to {transform: translateY(0);opacity: 1;}
  }
  
  .reactConfirmAlertCustomUIModal {
	animation-name: modalFade;
	animation-duration: .5s;
  } */

.cursor-pointer {
    cursor: pointer;
}
.autocomplete-dropdown-container{
    position: absolute;
    left: 0;
    top: 44px;
    text-align: left;
}
.suggestion-item{
    padding: 5px;
}

.ant-card-body .ant-row:last-child{
    display: none;
}
.ant-card-body .upload-image-preview .ant-row{
    display: flex;
}
.ant-card-body .ant-col.ant-col-10{
    width: 100%;
    max-width: 100%;
    flex: unset;
}
.ant-card-body .ant-col.ant-col-14{
    display: none;
}
.home-slider-view .owl-carousel.owl-drag .owl-item{
    padding: 10px;
    width: 100% !important;
    margin: 0 !important;
}
.home-slider-view .owl-carousel.owl-drag{
    position: relative;
    /*left: -20px;*/
}
.ant-card-body .ant-row .ant-divider .ant-divider-horizontal {
    display: none !important;
    margin: 0px 0px;

}

.back-to-top-btn {
    text-align: right !important;
    background: transparent;
    position: sticky;
    bottom: 10px;
}
.Snackbar_snackbar-wrapper__ocbPJ {
    z-index: 3 !important;
}

div.show-image-delete-option {
    position: relative;
    float:left;
    margin:5px;
}
.show-image-delete-option:hover img{
    opacity:0.3;
}
.show-image-delete-option:hover a svg {
    display: block;
}
.show-image-delete-option a svg {
    position:absolute;
    display:none;
}
.show-image-delete-option a svg {
    top: 10px;
    right: 10px;
}


.gallery-grid{
    padding: 1rem 1.15rem 1rem 1rem;
}
.gallery-grid .card-holder .react_lightgallery_item{
    position: relative;
    padding-top: 60%;
}

.gallery-grid .card-holder .holder-sm{
    padding: 2px;
}

.gallery-grid .card-holder .holder-sm .react_lightgallery_item {
    position: relative;
    padding-top: 58.5%;
    top: -2px;
}
.gallery-grid .card-holder .holder-sm.spot-grid .react_lightgallery_item {
    padding-top: 58%;
}
.gallery-grid .card-holder .react_lightgallery_item img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery-grid .card-holder .show-image-plus-option{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.show-image-plus-option {
    position: relative;
    float:left;
}

.show-image-plus-option span {
    position:absolute;
    display:block;
}
.show-image-plus-option span {
    top: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: max-content;
    font-size: 20px;
    color: var(--main-color);
}
.ant-spin-nested-loading {
    background: white;
}

.search-sitter .location-search-input {
    margin-left: 1rem;
}

.search-sitter .location-search-input div input {
    height: 42px;
    border-radius: 2px;
    border: 1px solid #cfd7de;
    /*border-color: var(--gray-shade);*/
    font-size: 14px;
    width: 100%;
    padding-left: 12px;
}
.location-search-input div input {
    height: 40px;
    border-radius: 3px;
    border: 1px solid #cfd7de;
    font-size: 14px;
    width: 100%;
    padding-left: 12px;
}
.location-search-input-pet-spot div input {
    height: 42px;
    border-radius: 2px;
    border: 1px solid #cfd7de;
    font-size: 14px;
    width: 100%;
    padding-left: 12px;
}

/*location search input*/

.main-banner .location-search-input div input {
    height: 25px !important;
    background: transparent;
    border: none;
    font-size: 14px;
    width: 100%;
    padding-left: 0 !important;
}

.location-search-input .ant-list-item:hover {
    background: rgba(22, 172, 150, 0.28);
}
.location-search-input-pet-spot .ant-list-item:hover {
    background: rgba(22, 172, 150, 0.28);
}
.text-theme-primary {
    color: var(--main-color);
}


.DayPicker {
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #e2e2e2;
    padding: 15px 10px;
    border-radius: 10px;
}

.DayPicker-wrapper {
    position: relative;

    flex-direction: row;
    padding-bottom: 0 !important;

    user-select: none;
}

.DayPicker-Months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DayPicker-Month {
    display: table;
    margin: 0 1em;
    margin-top: 1em;
    border-spacing: 0;
    border-collapse: collapse;

    user-select: none;
}

.DayPicker-NavBar {
}

.DayPicker-NavButton {
    position: absolute;
    left: auto;
    right: 0 !important;
    top: 0 !important;
    display: inline-block;
    margin-top: 2px;
    width: 1.25em;
    height: 1.25em;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    color: #8B9898;
    cursor: pointer;
}

.DayPicker-NavButton:hover {
    opacity: 0.8;
}

.DayPicker-NavButton--prev {
    margin-right: 1.5em;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
    display: none;
}

.DayPicker-Caption {
    display: table-caption;
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    text-align: left;
}

.DayPicker-Caption > div {
    font-weight: 500;
    font-size: 1.15em;
}

.DayPicker-Weekdays {
    display: table-header-group;
    margin-top: 1em;
}

.DayPicker-WeekdaysRow {
    display: table-row;
}

.DayPicker-Weekday {
    display: table-cell;
    padding: 0.5em;
    color: #8B9898;
    text-align: center;
    font-size: 0.875em;
}

.DayPicker-Weekday abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

.DayPicker-Body {
    display: table-row-group;
}

.DayPicker-Week {
    display: table-row;
}

.DayPicker-Day {
    display: table-cell;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.DayPicker-wrapper .DayPicker-Months .DayPicker-Month .DayPicker-Day{
    border-radius: 5px !important;
}

.DayPicker-WeekNumber {
    display: table-cell;
    padding: 0.5em;
    min-width: 1em;
    border-right: 1px solid #EAECEC;
    color: #8B9898;
    vertical-align: middle;
    text-align: right;
    font-size: 0.75em;
    cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
}

.DayPicker-Footer {
    padding-top: 0.5em;
}

.DayPicker-TodayButton {
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #4A90E2;
    font-size: 0.875em;
    cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
    color: #D0021B;
    font-weight: 700;
}

.DayPicker-Day--outside {
    color: #8B9898;
    cursor: default;
}

.DayPicker-Day--disabled {
    color: #DCE0E0;
    cursor: default;
    /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
    background-color: #F7F8F8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
    color: #DCE0E0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;

    background-color: var(--main-color) !important;
    color: #F0F8FF;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: var(--main-color) !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: #F0F8FF;
}
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside){
    color: var(--main-color) !important;
    background-color: rgb(32 132 126 / 10%) !important;
}
/* DayPickerInput */

.DayPickerInput {
    display: inline-block;
}

.DayPickerInput-OverlayWrapper {
    position: relative;
}

.DayPickerInput-Overlay {
    position: absolute;
    left: 0;
    z-index: 1;

    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .picker-down .cus-picker {
        left: 0 !important;
        right: unset !important;
    }

    .picker-down .cus-picker.show {
        top: unset !important;
        bottom: -135px;
        z-index: 9 !important;
        left: 0 !important;
    }

    .picker-down .cus-picker .pointer {
        left: 5px !important;
        right: unset !important;
    }

    .picker-down.picker-end .cus-picker {
        right: 0 !important;
        left: unset !important;
    }

    .picker-down.picker-end .cus-picker.show {
        top: unset !important;
        bottom: -135px;
        z-index: 9 !important;
        right: 0 !important;
    }

    .picker-down.picker-end .cus-picker .pointer {
        right: 5px !important;
        left: unset !important;
    }
}
