.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100px;
  align-self: center;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.svg path:global,
.svg rect :global {
  fill: #20847e;
}


.action_loader {
  height: 50px;
  width: 50px;
  align-self: center;
  text-align: center;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.svg path:global,
.svg rect :global {
  fill: #20847e;
}

.loader_overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_overlay_div {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  align-self: center;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}